<p id="notice"><%= notice %></p>

<p>
  <strong>Round name:</strong>
  <%= @hand.round_name %>
</p>

<p>
  <strong>P1 change:</strong>
  <%= @hand.p1_change %>
</p>

<p>
  <strong>P1 yaku:</strong>
  <%= @hand.p1_yaku %>
</p>

<p>
  <strong>P1 is yakuman:</strong>
  <%= @hand.p1_is_yakuman %>
</p>

<p>
  <strong>P2 change:</strong>
  <%= @hand.p2_change %>
</p>

<p>
  <strong>P2 yaku:</strong>
  <%= @hand.p2_yaku %>
</p>

<p>
  <strong>P2 is yakuman:</strong>
  <%= @hand.p2_is_yakuman %>
</p>

<p>
  <strong>P3 change:</strong>
  <%= @hand.p3_change %>
</p>

<p>
  <strong>P3 yaku:</strong>
  <%= @hand.p3_yaku %>
</p>

<p>
  <strong>P3 is yakuman:</strong>
  <%= @hand.p3_is_yakuman %>
</p>

<p>
  <strong>P4 change:</strong>
  <%= @hand.p4_change %>
</p>

<p>
  <strong>P4 yaku:</strong>
  <%= @hand.p4_yaku %>
</p>

<p>
  <strong>P4 is yakuman:</strong>
  <%= @hand.p4_is_yakuman %>
</p>

<p>
  <strong>Dora:</strong>
  <%= @hand.dora %>
</p>

<%= link_to 'Edit', edit_hand_path(@hand) %> |
<%= link_to 'Back', hands_path %>
